<head>
    @{
        ViewBag.Title = "login";
        Layout = null;
    }

    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
 
  
    <link href="~/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css_main.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>




    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="775211725291-laug2bp1gtefjn6jdaqv6d86gmtfvrho.apps.googleusercontent.com">
    @*<script>
        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();

         //   window.location="http://localhost:64437/login/login?email_id=" + profile.getEmail() + "&gmail_id=" + profile.getId() + "";
            
            @{ string id="";   }
            @id=profile.getId();
            @{ Response.Write("<script>alert(" + id + ")</script>");}
            console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
            console.log('Name: ' + profile.getName());
            console.log('Image URL: ' + profile.getImageUrl());
            console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.

        }
        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
            });
        }


        function listCookies() {
            var theCookies = document.cookie.split(';');
            var aString = '';
            for (var i = 1 ; i <= theCookies.length; i++) {
                aString += i + ' ' + theCookies[i - 1] + "\n";
            }
            return aString;
        }

    </script>*@

    
    
</head>
<body>
    
    <div  class="container">
       
        <center>
            <img src="~/img/logo.png"  style="width:300px;"/>
            <label id="label1"></label>

            <div style="color:#0094ff;font-size:25px;">
                Welcome To YuvaRepo
            </div>

            <div style="color:#004475;font-size:25px;">

                Login Using Your Gmail Account
            </div>

           <br /><br />
            <div  class="g-signin2" data-onsuccess="onSignIn"></div>
             @*<div onclick="signOut()">Logout Google</div>*@
        </center>

        
    </div>
    
    @using (Html.BeginForm("login_btn", "login", FormMethod.Post))
    {<center>
        <button type="submit" style="display:block;background:#ffffff; color:#004475; border:none;font-size:25px;border-radius:3px;box-shadow:#808080 0px 2px 3px 1px;  "><span class="fa fa-google-plus"></span> Login</button>
    </center>
    }


</body>





