<head>
       
</head>
<body>
    
    @{ 
        if(Request.Cookies["bid"]==null && Request.Cookies["aid"] == null && Request.Cookies["id"] == null)
        {
            Response.Redirect("~/gmail/Index");
        }
        else if (Request.Cookies["bid"] != null)
        {
            Response.Redirect("~/profile/Index");
        }
    }





</body>