<head>

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="775211725291-laug2bp1gtefjn6jdaqv6d86gmtfvrho.apps.googleusercontent.com">
    <script>
        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
            document.getElementById('profile_pic').src = profile.getImageUrl();

            console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
            console.log('Name: ' + profile.getName());
            console.log('Image URL: ' + profile.getImageUrl());
            console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
        }
    </script>
</head>
<body>
    <br /><br /><br /><br /><br /><br />
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    <img  id="profile_pic" />
    <a href="#" onclick="signOut();">Sign out</a>
    <script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
    </script>



    <a href="#"
       class="zocial fa-google">
        Sign in with Facebook
    </a>


</body>